.cr{
    background-color: black; 
  }
  
  .icr{
    padding: 5px;
    margin: 0px;
    color: white; 
    font-size: 13px; 
    text-align: center;
  }
  a.anchorhover:hover{
      
    background-color: rgb(0, 0, 0);
  }
  
  .time{
    margin-left: 10rem;
  }
  
  .langauge{
    margin-right: 10rem;
  }
  .height{
    height: 35px;
    font-size: 14px;
  }
  
  .news-dec{
    border: none;
  }
  
  .card-dec{
    border: none;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(31, 0, 139);
    margin: 0px 0px;
  }
  
  .cardshadow{
    box-shadow: 5px 5px 15px rgb(189, 189, 189);
  }
  
  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
      .icon-text{
          font-size: 1.3rem;
          font-weight: 700;
      }
      .news{
        overflow: scroll; 
        height: 505px;
      }
      
    }
    
    /* 
      ##Device = Laptops, Desktops
      ##Screen = B/w 1025px to 1280px
    */
    
    @media (min-width: 1025px) and (max-width: 1280px) {
      .news{
        overflow: scroll; 
        height: 505px;
      }
      
      
    }
    
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 768px) and (max-width: 1024px) {
      
      .icon-text{
          font-size: 0.7rem;
          font-weight: 500;
      }
      .icon{
          text-align: center;
          width:82px;
          height: 82px;
      }
      .upper{
        display: none;
      }
      .news{
        overflow: scroll; 
        height: 505px;
      }
    }
    
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .news{
        overflow: scroll; 
        height: 505px;
      }
    }
    
    /* 
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
    
    @media (min-width: 481px) and (max-width: 767px) {
      .icon-text{
          font-size: 0.8rem;
          font-weight: 490;
      }
      .upper{
        display: none;
      }
    }
    
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    
    @media (min-width: 320px) and (max-width: 480px) {
      .icon-text{
          font-size: 0.6rem;
          font-weight: 490;
      }
      .icon{
          text-align: center;
          width:48px;
          height: 48px;
      }
      .upper{
        display: none;
      }
    }